doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/kickstart.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/kickstart.js')
  body
   ul.menu
    li
     a(href='/') DORCHAPICS
    li
     a(href='/login') Log with Instagram
    li
     a(href='/main') Main
    li
     a(href='/me') My Images
    li
     a(href='/logoout') Logout
   .grid
   block content
